*, *:after, *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
body {
	background: #999;
	color: #FFF;
	font-family: Arial, sans-serif;
	line-height: 1.4;
	margin: 0;
}
.game-wrapper {
	font-size: 0;
	text-align: center;
}
.game {
	display: inline-block;
	margin: 0;
	position: relative;
	/* http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js */
	-webkit-user-select: none;
	   -moz-user-select: none;
}
canvas {
	display: block;
}
.game-clone {
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}
.layer-bg {
	background: #AAA;
}

/* Header */
.header {
	background: #000;
	border-bottom: 1px solid #CCC;
	font-size: 0;

	ul {
		padding: 0;
		text-align: center;
	}
	li {
		display: inline-block;
		width: 15%;
	}
	a {
		color: #FFF;
		display: block;
		font-size: 1rem;
		padding: 1em 0;
		text-decoration: none;

		&:hover, &:focus, &:active, &.selected {
			background: #444;
		}
	}
	i {
		padding-right: 0.5em;
	}
}

/* Overlay */
.main {
	position: relative;

	&:after {
		background: rgba(#000, 0.7);
		bottom: 0;
		content: "";
		display: none;
		left: 0;
		padding: 2em;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.menu-content {
	bottom: 0;
	display: none;
	left: 0;
	height: 100%;
	overflow: auto;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.overlay-show,
.main.overlay-show:after {
	display: block;
}

/* Levels menu */
.l1, .l2 {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.l1 {
	& > li {
		display: table-row;
		padding: 1px 0;

		& > * {
			padding: 1px 0;
		}
	}
}
.l1-title {
	display: table-cell;
	padding-right: 1em !important;
	width: 1px;
	white-space: nowrap;
}
.l2 {
	li {
		display: table-cell;
		padding: 0 0 0 1px;
		width: 10%;
	}
	a {
		background: #FFF;
		color: #000;
		display: block;
		line-height: 3;
		text-align: center;
		text-decoration: none;

		&:hover, &:focus, &:active {
			background: #CCC;
		}

		&:target {
			background: #AAA;
			color: #FFF;
		}
	}
}