*, *:after, *:before {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
html, body {
	height: 100%;
	overflow: hidden;
}
body {
	background: #999;
	color: #FFF;
	font-family: Arial, sans-serif;
	line-height: 1.4;
	margin: 0;
}
.game-wrapper {
	font-size: 0;
	text-align: center;
}
.game {
	display: inline-block;
	margin: 0;
	position: relative;
	/* http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js */
	-webkit-user-select: none;
	   -moz-user-select: none;
}
canvas {
	display: block;
}
.game-clone {
	left: 0;
	position: absolute;
	top: 0;
	z-index: -1;
}
.layer-bg {
	background: #AAA;
}

/* Header */
.header {
	background: #000;
	border-bottom: 1px solid #CCC;
	font-size: 0;
}
.main-nav {
	display: table;
	padding: 2px 0;
	text-align: center;
	width: 100%;
}
.main-nav-item {
	display: table-cell;
	vertical-align: middle;
	width: 16%;
}
.level-title-wrapper {
	width: auto;
}
a {
	background: #333;
	border: 1px solid #444;
	border-radius: 2px;
	color: #FFF;
	display: block;
	font-size: 0;
	line-height: 1;
	margin: 0 1px;
	padding: 16px 0;
	text-decoration: none;

	.no-touch &:hover, &:focus, &:active, &.selected {
		background: #444;
	}
}
i {
	font-size: 1rem;
}

.level-nav-button {
	padding: 12px 0;

	i {
		font-size: 1.5rem;
	}
	&.disabled {
		color: rgba(255, 255, 255, 0.2);

		.no-touch &:hover, &:focus, &:active {
			background: transparent;
		}
	}
}
.level-title {
	border-radius: 2px;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	padding-bottom: 22px;
	padding-top: 10px;
	position: relative;
	white-space: nowrap;

	.no-touch &:hover, &:focus, &:active, &.selected {
		background: #444;
	}

	&:after {
		bottom: 0;
		content: "tap for solution";
		font-size: 0.6em;
		font-weight: normal;
		left: 0;
		letter-spacing: 1px;
		position: absolute;
		right: 0;
	}
}

/* Overlay */
.menu-content {
	background: rgba(#000, 0.7);
	bottom: 0;
	display: none;
	font-size: 1rem;
	left: 0;
	overflow: auto;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 3.4rem;
	z-index: 2;
}
.overlay-show {
	display: block;
}

/* Levels menu */
.l1, .l2 {
	display: table;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.l1 {
	& > li {
		display: table-row;
		padding: 1px 0;

		& > * {
			padding: 1px 0;
		}
	}
}
.l1-title {
	border-bottom: 1px solid #444;
	cursor: pointer;
	display: table-cell;
	padding-right: 1em !important;
	text-align: left;
	vertical-align: middle;
	width: 1px;
	white-space: nowrap;

	.no-touch &:hover, &:focus, &:active {
		background: #CCC;
		color: #333;
	}

	sub {
		display: block;
		font-size: 70%;
		text-align: right;
	}
}
.l2 {
	li {
		display: table-cell;
		padding: 0 0 0 1px;
		width: 10%;
	}
	a {
		background: #FFF;
		color: #000;
		display: block;
		font-size: 0.8rem;
		line-height: 3;
		padding: 0;
		text-align: center;
		text-decoration: none;

		.no-touch &:hover, &:focus, &:active {
			background: #CCC;
		}

		&:target {
			// background: #AAA;
			// color: #FFF;
		}
	}
}

/* Victory */
.main {
	position: relative;
}
.victory {
	background: rgba(#000, 0.7);
	bottom: 0;
	font-size: 0.8em;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.victory.show {
	@each $prefix in -webkit-, -o-, '' {
		#{$prefix}animation: victory 4s 1;
	}
}
@mixin keyframes($name) {
	@-webkit-keyframes #{$name} {
		@content; 
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	} 
}
@include keyframes(victory) {
	0%   { opacity: 0; z-index: -1; }
	60%  { opacity: 1; z-index: 2; }
	100% { opacity: 0; z-index: -1; }
}

/* Solution */
#solution {
	bottom: auto;
	padding: 0;

	&.show {
		display: block;
	}
}
#level-solution {
	font-size: inherit;
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}
.level-done {
	background: green !important;
}

/* About */
.about {
	text-align: left;

	a {
		color: #F00;
		display: inline;
		font-size: 1em;
		line-height: normal;
		padding: 0 !important;

		.no-touch &:hover, &:focus, &:active {
			background: transparent;
			text-decoration: underline;
		}
	}
}

/* Settings */
.setting {
	background: #FFF;
	color: #000;
	cursor: pointer;
	display: block;
	padding: 0.5em;

	.no-touch &:hover, &:focus, &:active {
		background: #CCC;
	}
}
.setting input {
	float: right;
}
.hide {
	display: none;
}

/* Loading screen */
body {
	&:after {
		background: #000;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		opacity: 0;
		z-index: -1;
		transition: opacity 1s linear;
	}
	&.loading:after {
		opacity: 1;
		z-index: 2;
	}
}