@media (min-width: 285px) {
	.victory {
		font-size: 1em;
	}
}

@media (min-width: 320px) {
	.level-nav-button {
		padding: 4px 0;

		i {
			font-size: 2.5rem;
		}
	}
	.level-title {
		font-size: 1rem;
		padding-bottom: 20px;
		padding-top: 8px;
	}
}

@media (min-width: 380px) {
	a {
		font-size: 1rem;
		padding-bottom: 15px;
	}
	i {
		padding-right: 0.5em;
	}
	.level-nav-button {
		font-size: 0;

		i {
			padding-right: 0;
		}
	}
	.l2 a {
		padding: 0;
	}
}