@media (min-width: 285px) {
	.level-title {
		width: 8em;
	}
	.victory {
		font-size: 1em;
	}
}

@media (min-width: 320px) {
	.header {
		.level-nav-button {
			padding: 1em 0.5em;

			i {
				font-size: 2.5rem;
			}
		}
	}
	.level-title {
		font-size: 1rem;
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}

@media (min-width: 380px) {
	.header {
		a {
			font-size: 1rem;
			padding: 1em 0.2em;
		}
		i {
			padding-right: 0.5em;
		}
	}
	.l2 a {
		padding: 0;
	}
}

@media (min-width: 400px) {
	.header a {
		padding-left: 0.5em;
		padding-right: 0.5em;
	}
}