@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-question-sign, .icon-info-sign, .icon-tasks, .icon-remove, .icon-volume-off, .icon-volume-down, .icon-volume-up, .icon-caret-left, .icon-caret-right {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-cog:before {
  content: "\e000";
}

.icon-question-sign:before {
  content: "\e001";
}

.icon-info-sign:before {
  content: "\e002";
}

.icon-tasks:before {
  content: "\e003";
}

.icon-remove:before {
  content: "\e004";
}

.icon-volume-off:before {
  content: "\e005";
}

.icon-volume-down:before {
  content: "\e006";
}

.icon-volume-up:before {
  content: "\e007";
}

.icon-caret-left:before {
  content: "\e008";
}

.icon-caret-right:before {
  content: "\e009";
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #999;
  color: #FFF;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
}

.game-wrapper {
  font-size: 0;
  text-align: center;
}

.game {
  display: inline-block;
  margin: 0;
  position: relative;
  /* http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js */
  -webkit-user-select: none;
  -moz-user-select: none;
}

canvas {
  display: block;
}

.game-clone {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.layer-bg {
  background: #AAA;
}

/* Header */
.header {
  background: #000;
  border-bottom: 1px solid #CCC;
  font-size: 0;
}

.main-nav {
  display: table;
  padding: 2px 0;
  text-align: center;
  width: 100%;
}

.main-nav-item {
  display: table-cell;
  vertical-align: middle;
  width: 16%;
}

.level-title-wrapper {
  width: auto;
}

a {
  background: #333;
  border: 1px solid #444;
  border-radius: 2px;
  color: #FFF;
  display: block;
  font-size: 0;
  line-height: 1;
  margin: 0 1px;
  padding: 16px 0;
  text-decoration: none;
}
.no-touch a:hover, a:focus, a:active, a.selected {
  background: #444;
}

i {
  font-size: 1rem;
}

.level-nav-button {
  padding: 12px 0;
}
.level-nav-button i {
  font-size: 1.5rem;
}
.level-nav-button.disabled {
  color: rgba(255, 255, 255, 0.2);
}
.no-touch .level-nav-button.disabled:hover, .level-nav-button.disabled:focus, .level-nav-button.disabled:active {
  background: transparent;
}

.level-title {
  border-radius: 2px;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 10px;
  position: relative;
  white-space: nowrap;
}
.no-touch .level-title:hover, .level-title:focus, .level-title:active, .level-title.selected {
  background: #444;
}
.level-title:after {
  bottom: 0;
  content: "tap for solution";
  font-size: 0.6em;
  font-weight: normal;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  right: 0;
}

/* Overlay */
.menu-content {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  display: none;
  font-size: 1rem;
  left: 0;
  overflow: auto;
  padding: 0.5em;
  position: absolute;
  right: 0;
  top: 3.4rem;
  z-index: 2;
}

.overlay-show {
  display: block;
}

/* Levels menu */
.l1, .l2 {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.l1 > li {
  display: table-row;
  padding: 1px 0;
}
.l1 > li > * {
  padding: 1px 0;
}

.l1-title {
  border-bottom: 1px solid #444;
  cursor: pointer;
  display: table-cell;
  padding-right: 1em !important;
  text-align: left;
  vertical-align: middle;
  width: 1px;
  white-space: nowrap;
}
.no-touch .l1-title:hover, .l1-title:focus, .l1-title:active {
  background: #CCC;
  color: #333;
}
.l1-title sub {
  display: block;
  font-size: 70%;
  text-align: right;
}

.l2 li {
  display: table-cell;
  padding: 0 0 0 1px;
  width: 10%;
}
.l2 a {
  background: #FFF;
  color: #000;
  display: block;
  font-size: 0.8rem;
  line-height: 3;
  padding: 0;
  text-align: center;
  text-decoration: none;
}
.no-touch .l2 a:hover, .l2 a:focus, .l2 a:active {
  background: #CCC;
}

/* Victory */
.main {
  position: relative;
}

.victory {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  font-size: 0.8em;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.victory.show {
  -webkit-animation: victory 4s 1;
  -o-animation: victory 4s 1;
  animation: victory 4s 1;
}

@-webkit-keyframes victory {
  0% {
    opacity: 0;
    z-index: -1;
  }

  60% {
    opacity: 1;
    z-index: 2;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-o-keyframes victory {
  0% {
    opacity: 0;
    z-index: -1;
  }

  60% {
    opacity: 1;
    z-index: 2;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes victory {
  0% {
    opacity: 0;
    z-index: -1;
  }

  60% {
    opacity: 1;
    z-index: 2;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

/* Solution */
#solution {
  bottom: auto;
  padding: 0;
}
#solution.show {
  display: block;
}

#level-solution {
  font-size: inherit;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

.level-done {
  background: green !important;
}

/* About */
.about {
  text-align: left;
}
.about a {
  color: #F00;
  display: inline;
  font-size: 1em;
  line-height: normal;
  padding: 0 !important;
}
.no-touch .about a:hover, .about a:focus, .about a:active {
  background: transparent;
  text-decoration: underline;
}

/* Settings */
.setting {
  background: #FFF;
  color: #000;
  cursor: pointer;
  display: block;
  padding: 0.5em;
}
.no-touch .setting:hover, .setting:focus, .setting:active {
  background: #CCC;
}

.setting input {
  float: right;
}

.hide {
  display: none;
}

/* Loading screen */
body:after {
  background: #000;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s linear;
}
body.loading:after {
  opacity: 1;
  z-index: 2;
}

@media (min-width: 285px) {
  .victory {
    font-size: 1em;
  }
}
@media (min-width: 320px) {
  .level-nav-button {
    padding: 4px 0;
  }
  .level-nav-button i {
    font-size: 2.5rem;
  }

  .level-title {
    font-size: 1rem;
    padding-bottom: 20px;
    padding-top: 8px;
  }
}
@media (min-width: 380px) {
  a {
    font-size: 1rem;
    padding-bottom: 15px;
  }

  i {
    padding-right: 0.5em;
  }

  .level-nav-button {
    font-size: 0;
  }
  .level-nav-button i {
    padding-right: 0;
  }

  .l2 a {
    padding: 0;
  }
}

/*# sourceMappingURL=style.debug.css.map */