@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot?#iefix") format("embedded-opentype"), url("fonts/icons.woff") format("woff"), url("fonts/icons.ttf") format("truetype"), url("fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cog, .icon-question-sign, .icon-info-sign, .icon-tasks, .icon-remove, .icon-volume-off, .icon-volume-down, .icon-volume-up {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-cog:before {
  content: "\e000";
}

.icon-question-sign:before {
  content: "\e001";
}

.icon-info-sign:before {
  content: "\e002";
}

.icon-tasks:before {
  content: "\e003";
}

.icon-remove:before {
  content: "\e004";
}

.icon-volume-off:before {
  content: "\e005";
}

.icon-volume-down:before {
  content: "\e006";
}

.icon-volume-up:before {
  content: "\e007";
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #999;
  color: #FFF;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
}

.game-wrapper {
  font-size: 0;
  text-align: center;
}

.game {
  display: inline-block;
  margin: 0;
  position: relative;
  /* http://stackoverflow.com/questions/3779534/how-to-disable-text-selection-with-css-or-js */
  -webkit-user-select: none;
  -moz-user-select: none;
}

canvas {
  display: block;
}

.game-clone {
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
}

.layer-bg {
  background: #AAA;
}

/* Header */
.header {
  background: #000;
  border-bottom: 1px solid #CCC;
  font-size: 0;
}
.header ul {
  padding: 0;
  text-align: center;
}
.header li {
  display: inline-block;
  width: 15%;
}
.header a {
  color: #FFF;
  display: block;
  font-size: 1rem;
  padding: 1em 0;
  text-decoration: none;
}
.header a:hover, .header a:focus, .header a:active, .header a.selected {
  background: #444;
}
.header i {
  padding-right: 0.5em;
}

/* Overlay */
.main {
  position: relative;
}
.main:after {
  background: rgba(0, 0, 0, 0.7);
  bottom: 0;
  content: "";
  display: none;
  left: 0;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-content {
  bottom: 0;
  display: none;
  left: 0;
  height: 100%;
  overflow: auto;
  padding: 2em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.overlay-show,
.main.overlay-show:after {
  display: block;
}

/*# sourceMappingURL=style.debug.css.map */